name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - uses: Gr1N/setup-poetry@v1
      - run: poetry install
      - run: poetry run pytest -v --cov=fastapi_etag --cov-branch tests/
      #- run: poetry run pytest -v --cov=fastapi-etag --cov-branch --cov-fail-under=100 tests/
